<% if (errors_form != '') { %>
    <div class="alert alert-danger">
        <h3 class="text-center">Formulaire invalide</h3>
        <hr>
        <ul>
            <% errors_form.forEach(function(error) { %>
                <li class="mb-1"><%= error.msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>

<% if (success_msg !='' ){ %>
    <div class="alert alert-success text-center">
        <%= success_msg %>
    </div>
<% } %>

<% if (error_msg !='' ){ %>
    <div class="alert alert-danger text-center">
        <%= error_msg %>
    </div>
<% } %>