<form method="post" action="/inscription" class="reduceForm container border p-3 mt-5">

    <% if (messageFormulaire !== '') { %>
        <div class="alert alert-danger text-center">
            <h2><%= messageFormulaire.general %></h2>
            <ul>
                <% for (const erreur in messageFormulaire.erreurs) { %>
                    <li><%= messageFormulaire.erreurs[erreur] %></li>
                <% } %>
            </ul>
        </div>
    <% } %>

    <div class="mb-3">
        <label for="identifiant" class="form-label">Identifiant</label>
        <input type="text" name="identifiant" class="form-control" id="identifiant" autofocus>
    </div>

    <div class="mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" name="nom" class="form-control" id="nom">
    </div>

    <div class="mb-3">
        <label for="prenom" class="form-label">Prénom</label>
        <input type="text" name="prenom" class="form-control" id="prenom">
    </div>

    <div class="mb-3">
        <label for="ville" class="form-label">Ville</label>
        <input type="text" name="ville" class="form-control" id="ville">
    </div>
    
    <div class="mb-3">
        <label for="mdp" class="form-label">Mot de passe</label>
        <input type="password" name="mdp" class="form-control" id="mdp">
    </div>

    <div class="mb-3">
        <label for="mdp_c" class="form-label">Confirmez le mot de passe</label>
        <input type="password" name="mdp_c" class="form-control" id="mdp_c">
    </div>
    <button type="submit" class="btn btn-success">S'inscrire</button>
</form>