<div class="d-flex justify-content-center flex-wrap mt-5">
    <% lesVehicules.forEach(vehicule=> { %>
        <div class="cardVehicule card mx-3">
            <img src="https://picsum.photos/200" class="card-img-top">
            <div class="card-body text-center">
                <h5 class="card-title "><%= vehicule.marque + ' ' + vehicule.modele %></h5>
                <hr>
                <p class="card-text mb-0">Année: <%= vehicule.annee %></p>
                <p class="card-text mt-0">Kilométrage total: <%= vehicule.km %></p>
                <a href="/vehicule/<%= vehicule._id %>" class="btn btn-primary">Consulter le véhicule</a>
            </div>
        </div>
    <% }) %>
</div>