<div class="text-center mt-5">
    <%- include("./partials/message") %>

    <%- include("../components/searchVehicule") %>

    <div class="d-flex justify-content-center flex-wrap mt-5">
        <%- include("../components/cardVehicule") %>
    </div>
</div>