<div class="d-flex justify-content-center mt-5">
    <img src="<%= vehicule.image %>" class="img-fluid" height="500" width="500">
    <div class="card">
        <div class="card-body">
            <img src="https://picsum.photos/80" class="img-thumbnail">
            <div class="d-inline-block">
                <a class=""><%= vehicule.Utilisateur.nom + ' ' + vehicule.Utilisateur.prenom %></a>
                <br>
            </div>
            <hr>
            <h2><%= vehicule.marque + ' ' + vehicule.modele %></h2>
            <h4><%= vehicule.prix %></h4>
        </div>
    </div>
</div>