.theme {
    background-color: #161a3a;
}

.toggleFilter {
    display: block !important;
}

.gras {
    font-weight: bold
}

label {
    margin-bottom: 0 !important;
}

.reduceForm {
    max-width: 580px;
}

.reduceForm #description {
    height: 200px;
}

.cardVehicule {
    width: 15rem;
}


.searchBar {
    width: 400px;
    margin: auto;
}
.searchBar .btnSearchFilter {
    width: 100%;
}
#filterSearch label {
    text-align: left;
}